* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
}

#home {
  width: 100vw;
  height: 100vh;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.52), rgba(0, 0, 0, 0.52)),
    url(../assets/new-front-image.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

#musify-icon {
  width: 15%;
  height: 15%;
  margin: 3% 0 3% 3%;
}

nav {
  width: 100%;
  min-height: 8vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.6);
}

nav .logo {
  display: flex;
}

nav .logo-text {
  color: #ecfee6;
  font-family: "Roboto Condensed", sans-serif;
  font-weight: bold;
  font-size: 1.5rem;
  text-transform: uppercase;
  margin: auto 2%;
}

.nav-links {
  display: flex;
  margin: auto 1% auto 0;
  justify-content: space-around;
  width: 35vw;
}

.nav-links li {
  list-style: none;
}

.nav-links a {
  color: #ecfee6;
  font-family: "Montserrat", sans-serif;
  text-decoration: none;
  letter-spacing: 3px;
  font-weight: normal;
  text-transform: uppercase;
  font-size: 0.8rem;
  transition: 0.3s ease;
}

.nav-links a:hover {
  color: #aeb9ab;
}

.navbar-dark {
  background-color: black;
}

.burger {
  display: none;
  margin-right: 1%;
}

.burger .line {
  width: 25px;
  height: 3px;
  background-color: #ecfee6;
  margin: 5px;
}

.presentation-container {
  height: 92vh;
  display: flex;
  align-items: center;
}

.presentation {
  display: flex;
  flex-direction: column;
  width: 60%;
  text-align: center;
  margin: auto;
  /* margin-left: auto;
  margin-right: 2%; */
  justify-content: center;
  align-items: center;
}

.presentation h1 {
  margin: 3%;
  font-family: Montserrat;
  font-weight: bold;
  font-size: 4rem;
  line-height: 4rem;
  color: #ebebeb;
}

.start-now {
  margin-top: 5%;
  font-family: Montserrat;
  font-weight: bolder;
  text-transform: uppercase;
  font-size: 1rem;
  color: #ebebeb;
  background-color: #3c8223;
  border: none;
  border-radius: 100px;
  padding: 0.5rem 2rem;
  transition: 0.3s ease;
}

.start-now:hover {
  background-color: #2b5a19;
}

.start-now:focus {
  outline: none;
}

@media screen and (max-width: 1100px) {
  .nav-links {
    width: 45%;
  }
  .presentation {
    width: 65%;
  }
}

@media screen and (max-width: 800px) {
  body {
    overflow-x: hidden;
  }

  .nav-links {
    position: absolute;
    right: 0;
    margin: 0;
    top: 8vh;
    height: 92vh;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    flex-direction: column;
    align-items: center;
    transform: translateX(100%);
    transition: transform 0.3s ease-in;
    width: 25%;
  }
  .nav-links li {
    opacity: 0;
  }

  .burger {
    display: block;
    cursor: pointer;
  }

  .presentation {
    width: 85%;
  }
}

.nav-active {
  transform: translateX(0%);
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}
